services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/usr/src/backend
    depends_on:
      - mongo
    command: cargo run


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    volumes:
      # Pour hot reload en dev (optionnel)
      - ./frontend:/usr/src/frontend
    environment:
      # Exemple d'URL du backend
      REACT_APP_BACKEND_URL: "http://backend:3000"

  mongo:
    image: mongo:7.0
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: mydatabase
    command: ["mongod", "--quiet"]
    volumes:
      # Persister les données entre les redémarrages
      - mongo-data:/data/db

volumes:
  mongo-data:
