version: "3.9"

services:

  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./database/mongod.conf:/etc/mongod.conf:ro
      - ./database/mongo-init:/docker-entrypoint-initdb.d
    command: [ "mongod", "--config", "/etc/mongod.conf" ]
    networks:
      - backend-net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_rust
    restart: unless-stopped
    ports:
      - "5001:3000"
    env_file:
      - /var/jenkins_home/.env
    depends_on:
      - mongo
    networks:
      - backend-net
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_vue
    restart: unless-stopped
    ports:
      - "5010:8080"
    networks:
      - backend-net

volumes:
  mongo-data:

networks:
  backend-net:
    driver: bridge
